*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

}
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
}
a{

    text-decoration: none;
    color: #b65423; 

}
.intro-container{
   
height: 500px;
background-size: cover;

}
.intro{

    text-align: center;
    
   
}
.intro h1{
font-size: 50px;
text-transform: uppercase;

}
.intro h1 span{
display: block;
font-size: 25px;    
}
.main-header-container{
   
    background: #5e2028;
}
.main-header,
.intro-container{

    width: 960px;
    padding: 20px;
    margin: 0 auto;

}
.main-header .logo{

float: left;


}
.main-header nav{

float: right;


}
.main-header ul{

    list-style: none;
    margin: 0;
    padding: 0;
}
.main-header li{

float: left;

}
.main-header nav a{
display: block;
padding: 10px 20px;
text-transform: uppercase;
font-size: 23px;
font-weight: 300;
/*color: #222;*/
color: #DFDFDF;
border-bottom: 1px solid transparent;

}
.main-header nav a:hover{
    /*border-color: #222;*/
    border-color: #DFDFDF;
}
/*Clarfix*/
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;

}
.clearfix:after{

    clear: both;
}